/* ---------- FONTS ---------- */
@font-face {
    font-family: font1;
    src: url(../other/font1.ttf);
}



/* ---------- GENERAL ---------- */
/* Body */
body, html {
	height: 100%;
}

body {
	width: 100%;
	font-size: 1em;
}

body p {
	margin-bottom: 5px;
	line-height: 1.5;
    text-align: justify;
}


/* Header & Section */
header {
	width: 100%;
	height: 3.4em;
	position: fixed;
	background-color: #222222;
	z-index: 2;
	transition: 1s all;
   -moz-transition: 1s all;
   -o-transition: 1s all;
   -webkit-transition: 1s all;
}

header.scroll {
    opacity: 0.7;
    transition: 3s opacity, 3s margin-top;
    -moz-transition: 3s opacity, 3s margin-top;
    -o-transition: 3s opacity, 3s margin-top;
    -webkit-transition: 3s opacity, 3s margin-top;
}

/* Main and Section */
main {
    padding-top: 3.4em;
    width: 100%;
    position: relative;
}

article {
    padding-left: 5%;
    padding-right: 5%;
}

/* Headings */
h1 {
	margin: 0.5em;
	font-family: 'font1';
	font-size: 1.5em;
	color: #ffffff;
    font-weight: bold;
	text-transform: uppercase;
}

h2 {
    margin: 1em 0;
    font-family: 'font1';
    font-size: 1.9em;
    color: #222222;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
}

/* Footer */
footer {
    width: 100%;
	bottom: 0;
	position: fixed;
	background-color: #222222;
	transition: 1s all;
}

footer p {
	padding: 0.5em 0 0.2em 0;
	font-family: 'font1';
	font-size: 1em;
	color: #ffffff;
	font-weight: bold;
	text-align: center;
	text-transform: uppercase;
}

footer.scroll {
    margin-bottom: -3em;
    transition: 1s margin-bottom;
}



/* ---------- NAVIGATION ---------- */
nav {
	width: 100%;
	height: 100%;
	top: 0;
	right: 0;
	position: fixed;
	visibility: hidden;
	opacity: 0;
	background-color: #ffffff;
	transition: all 1s;
	z-index: 3;
}

nav ul {
    top: 50%;
    left: 50%;
	position: absolute;
    transform: translate(-50%, -50%);
	list-style-type: none;
}

nav ul li {
	margin: 1em 0;
	display: block;
	font-family: 'font1';
	font-size: 2em;
	font-weight: bold;
    text-align: center;
	text-transform: uppercase;
}

nav ul li a:link, nav li a:visited {
	padding: 0.4em;
	color: #222222;
	text-decoration: none;
}

nav ul li a:hover {
	color: #222222;
	text-decoration: none;
	border: 2px solid #222222;
}

nav.scroll {
    margin-top: -200px;
    transition: 1s margin-top;
}

.nav-toggled {
  visibility: visible;
  opacity: 1;
  transition: 1s opacity;
}

/* NAVIGATION TOGGLE */
#nav-toggle {
  position: fixed;
  top: 1em;
  right: 1em;
  padding: 0.5em 1.8em 0.5em 0;
  z-index: 7;
}

#nav-toggle span, #nav-toggle span:before, #nav-toggle span:after {
  width: 1.8em;
  height: 3px;
  position: absolute;
  display: block;
  content: '';
  background: #ffffff;
}

#nav-toggle span:before {
  top: -10px;
}

#nav-toggle span:after {
  bottom: -10px;
}

#nav-toggle span, #nav-toggle span:before, #nav-toggle span:after {
  transition: all 500ms ease-in-out;
}

#nav-toggle.active span {
  background-color: #222222;
  background-color: transparent;
}

#nav-toggle.active span:before, #nav-toggle.active span:after {
  background-color: #222222;
  top: 0.6em;
}

#nav-toggle.active span:before {
  transform: rotate(45deg);
}

#nav-toggle.active span:after {
  transform: rotate(-45deg);
}



/* ---------- HOME ---------- */
#home1 {
	max-width: 100%;
	bottom: 0;
	position: fixed;
	text-align: center;
}

#home2 {
	max-width: 100%;
	bottom: 0;
	position: fixed;
	display: none;
}



/* ---------- BLOG ---------- */
.blogpost {
    width: 100%;
    margin-bottom: 8em;
}

.blogpost:last-child {
    margin-bottom: 4em;
}

p.blog-date {
    margin-top: 2em;
    font-style: italic;
    color: #990000;
    text-align: center;
}

h2.blog-title {
    margin-top: 0.3em;
}

.blogpost img {
    max-width: 100%;
    margin-bottom: 2em;
    text-align: center;
    box-shadow: 0px 1px 5px 0px #4a4a4a;
}

.blogpost .content p {
    margin-bottom: 1em;
}

.blogpost a {
    display: inline-block;
}

.blogpost a:link, .blogpost a:visited {
    padding: 0.8em;
    font-family: 'font1';
    font-weight: bold;
    color: #ffffff;
    text-decoration: none;
    background-color: #990000;
    border-radius: 3px;
}

.blogpost a:hover {
    color: #ffffff;
    text-decoration: none;
}

aside {
    padding-bottom: 2em;
    border-top: 1px solid #222222;
}

aside .posts-of-year {
    text-align: center;
}



/* ---------- GALLERY ---------- */
.gallery-list {
    margin-bottom: 4em;
    clear: both;
}

.gallery-item {
    width: 100%;
    margin-bottom: 2em;
    position: relative;
}

.gallery-item img {
    width: 100%;
    box-shadow: 0px 1px 5px 0px #4a4a4a;
}

.gallery-item img:hover ~ span.gallery-title,
span.gallery-title:hover,
.gallery-item a:focus span.gallery-title {
    opacity: 1;
}

span.gallery-title {
    width: 100%;
    height: auto;
    top: 70%;
    left: 0;
    right: 0;
    position: absolute;
    font-family: 'font1', sans-serif;
    font-weight: bold;
    color: #2a2a2a;
    font-size: 2.3em;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    background: rgba(255,255,255,0.7);
    opacity: 0;
    transition: opacity 500ms;
    transform: translate(0, -70%);
}



/* ---------- GALLERY SECTION PAGES ---------- */
article.galleries {
    padding: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

figure {
	width: 100%;
}

figure img {
	max-width: 100%;
}



/* ---------- CONTACT ---------- */
.contact {
    padding-bottom: 3em;
}

.labelinput {
	margin: 1.3em 0;
}

label, input {
	width: 100%;
	height: 2em;
	display: block;
	text-align: center;
}

#selectbox {
	width: 100%;
}

#textbox {
	width: 100%;
	height: 100px;
}

#submitbutton {
	height: 40px;
	margin-bottom: 0;
	font-family: 'font1';
	font-size: 20px;
	color: #ffffff;
	text-transform: uppercase;
	background-color: #222222;
	border: none;
}





/* ---------- MEDIA QUERIES ---------- */
@media screen and (min-width: 600px) {

	/* HOME */
	#home1 {
		max-width: 70%;
		left: 20%;
	}


	/* GALLERY */
    .gallery-list {
        margin-bottom: 4em;
        margin-top: 0;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
    }

    .gallery-item {
        width: 50%;
        margin-bottom: 2em;
        padding: 0 1em;
        position: relative;
    }

    .gallery-item img {
        width: 100%;
        box-shadow: 0px 1px 5px 0px #4a4a4a;
    }


    /* GALLERY SECTION */
    figure {
		width: 50%;
	}
}


@media screen and (min-width: 768px) {

	/* HOME */
	#home1 {
		max-width: 60%;
	}


	/* CONTACT */

	form {
		width: 50%;
		margin-left: 25%;
	}
}


@media screen and (min-width: 900px) {

	/* GENERAL */
	header {
		height: 55px;
		background-color: #ffffff;
		transition: none;
	}

	h1 {
		text-align: center;
		font-size: 35px;
		color: #222222;
	}


	/* HOME */
	#home1 {
		display: none;
	}

	#home2 {
		display: block;
	}


	/* NAVIGATION */
	nav {
		height: 45px;
		top: 55px;
		left: 0;
		visibility: visible;
		opacity: 1;
		background-color: #222222;
		transition: 1s all;
	}

	nav ul {
        top: 0;
        left: 0;
    	position: relative;
        transform: translate(0);
        text-align: center;
    	list-style-type: none;
	}

	nav ul li {
		margin: 12px 6%;
		display: inline-block;
		font-size: 22px;
	}

	nav ul li a:link, nav li a:visited {
		padding: 2px 10px;
		color: #ffffff;
		text-decoration: none;
	}

	nav ul li a:hover {
		color: #ffffff;
		margin: 0 -2px;
		border: 2px solid #ffffff;
	}

	#nav-toggle {
  		visibility: hidden
	}


	/* BLOG */
    main.blog {
        display: flex;
        flex-direction: row;
    }
	.blogposts {
        width: 70%;
    }

    p.blog-date {
        margin-top: 0;
    }

	aside {
        width: 25%;
        padding-right: 3%;
        margin-top: 3em;
        float: right;
        display: block;
        border: none;
    }

    aside h2 {
        padding-top: 16%;
        font-size: 25px;
    }

    aside h3 {
        margin: 20px 0;
        font-family: 'font1';
        font-size: 20px;
        font-weight: bold;
        color: #990000;
        text-align: center;
        text-transform: uppercase;
        z-index: 5;
    }

    aside ul {
        text-align: center;
    }

    aside ul li {
        line-height: 1.5;
    }


	/* GALLERY */
    #three {
        padding-top: 4%;
    }


    /* GALLERY SECTION */
    article.galleries {
        margin-top: 45px;
    }

    figure {
		width: 33.3%;
	}


	/* CONTACT */
	#four {
		padding-top: 4%;
	}
}


@media screen and (min-width: 1200px) {

	/* HOME */
	#home2 {
		max-width: 75%;
		left: 12.5%;
	}


	/* BLOG */
    .content {
        margin: 0 5%;
    }


    /* GALLERY */
    ul.sectionlist span.text-content {
        opacity: 0;
    }

    ul.sectionlist li:hover span.text-content {
        opacity: 1;
    }

    ul.sectionlist {
        width: 35%;
    }

    #runway {
        margin: 0 10% 0 10%;
    }


    /* GALLERY SECTION */
    figure {
		width: 25%;
		opacity: 0.7;
		transition: 2s opacity;
		-moz-transition: 1s opacity;
		-o-transition: 1s opacity;
		-webkit-transition: 1s opacity;
	}

	figure:hover {
		opacity: 1;
		transition: 1s opacity;
		-moz-transition: 1s opacity;
		-o-transition: 1s opacity;
		-webkit-transition: 1s opacity;
	}


	/* CONTACT */
	form {
		width: 30%;
		margin-left: 35%;
	}
}
